async function sendMessage(){
    const input=document.getElementById("messageInput");
    const message=input.value;
    if(!currentChat) return alert("Create a chat first");
    if(!message.trim()) return;

    const messages=document.getElementById("messages");

    const userMsg=document.createElement("div");
    userMsg.classList.add("message","user");
    userMsg.innerText=message;
    messages.appendChild(userMsg);

    const botMsg=document.createElement("div");
    botMsg.classList.add("message","assistant");

    const loader=document.createElement("div");
    loader.classList.add("loader");
    loader.innerHTML="<span></span><span></span><span></span>";
    botMsg.appendChild(loader);

    messages.appendChild(botMsg);

    input.value="";
    messages.scrollTop=messages.scrollHeight;

    const res=await fetch("/send_message",{
        method:"POST",
        headers:{"Content-Type":"application/json"},
        body:JSON.stringify({
            chat_id:currentChat,
            message:message
        })
    });

    const data = await res.json();

    botMsg.innerHTML = "";
    botMsg.innerText = data.reply;

    messages.scrollTop=messages.scrollHeight;

    loadChats();
}